body{
    background-color: var(--clr-white);
    color: var(--clr-grey-dark); 
}
ul{
    padding-left: var(--gap-md);
}
a{
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    line-height: 32px;
    font-family: "Volkhov", serif;
    font-weight: medium;
}



.cover{
    height: 720px;
    background-position-y: bottom;
    background-size: cover;
}

.illustration{
    width: 100%;
    height: 720px;
    object-fit: contain;
    object-position: bottom;
}

.hero{
   
    
    padding-top: calc(var(--gap-xl) + var(--gap-xl));
}

.hero p{
    max-width: 500px;
}

.hero h1{
    max-width: 500px;
}

.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--gap-lg);
    
}
.logo{
    font-weight: 700;
}

.main-nav{
    display: flex;
    
    gap: var(--gap-lg)
}

.subscribe{
    background-color: var(--clr-orange);
    border-radius: 10px;

}
.subscribe h2{
    color: white;
}

.subscribe-input{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.subscribe-input input{
    border: none;
    height: 40px;
    width: 80%;
    font-size: large;
    font-family: "Poppins", sans-serif;
}

.subscribe-input button{
    font-family: "Poppins", sans-serif;
}

.social .icon{
    width: 60px;
    height: 60px;
}

.footer-content{
    background-color: var(--clr-white-soft);
    padding: var(--gap-lg);
    display: flex;
    justify-content: space-around;
    

}

.footer-content .content{
    font-family: "Poppins", sans-serif;
}