.btn{
    --btn-idle-fill: var(--clr-orange);
    --btn-active-fill:var(--clr-blue);
    --btn-label-color: white;
    --clr:var(--btn-idle-fill);

    /*Reset*/
    font-family: "Volkhov", serif;
    font-size: 18px;
    line-height: 32px;
    background: none;
    border: none;

    /*Style*/
    font-weight: 500;
    padding: 10px 16px;
    border-radius: 5px;
    border: 1px solid transparent;
    flex: none;
    cursor: pointer;
}

.btn.outlined {
    border-color: var(--clr);
    color: var(--clr);
}

.btn.solid{
    background: var(--clr);
    color: var(--btn-label-color);
}

.btn:hover{
    --clr: var(--btn-active-fill);
    

}

.btn:active{
    transform: translateY(1px) ;
}

.btn.prev{
    border: 2px solid var(--clr-grey-soft);
}
.btn.prev:hover{
    border-color: var(--btn-active-fill);
}

.btn.next,
.btn.prev{
    border-radius: 50%;
    width: 55px;
    height: 55px;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.next svg{
    display: block;
}

.prev-arrow,
.next-arrow{
    width: 17px;
    height: 15px;
    padding: 0px;
}