

.carousel-item-block{
    display: flex;
    
    gap: var(--gap-lg);
}

.carousel-item-block article img {
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
    
}

.carousel-item-block-best-vacation{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--gap-lg);
}

.carousel-item-block-best-vacation article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
    
}

.exclusive-deal-card{
    border-radius: 10px;
    display: grid;
    background-color: var(--clr-white);
}
.exclusive-deal-card .card-body .card-price {
    display: flex;
    
    gap: var(--gap-sm);
}

.exclusive-deal-card .card-body{
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    padding: var(--gap-sm);
    margin: var(--gap-md);
}

.exclusive-deal-card .card-body div{
    display: flex;
    justify-content: space-between;
    
}
.exclusive-deal-card .card-body div svg{
    height: 20px;
    width: 20px;
}

.carousel-button{
    margin: var(--gap-lg);
    display: flex;
    gap: var(--gap-md);
    justify-content: center;
}
.carousel-button-right{
    margin: var(--gap-lg);
    display: flex;
    gap: var(--gap-md);
    justify-content: flex-end;
}
.carousel-button-left{
    margin: var(--gap-lg);
    display: flex;
    gap: var(--gap-md);
    
}


