.grid-list{
    --icon-size:60px;
    --row-gap: var(--gap-lg);
    --col-gap:0;
    list-style: none;
    padding: 0;

}
.grid-list-item {
    display: grid;
    row-gap: var(--row-gap);
    column-gap: var(--col-gap);
    
}

.grid-list-item .icon{
    width: var(--icon-size);
    aspect-ratio: 1;
    grid-row: 1/-5;
    
}

.to-do-card{
    background-color: rgb(255, 255, 255) ;
    padding: var(--gap-lg) ;
    border-radius: 10px;
    max-width: 400px;
    min-height: 300px;
}

.grid-list--row {
    display: flex;
    gap: var(--gap-lg);
}