.section-content{
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
    padding: var(--gap-xl) 0;
    
}

.section-header {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
    max-width: var(--width-sm);  
}
.soft-white{
    background-color: var(--clr-white-soft);
}

